<%- include('partials/head.ejs') %> <%- include('partials/navbar.ejs') %>

<div class="container">
  <h1>Browsering the <%= name %> subreddit.</h1>
  <h3><%= description %></h3>
  <p><%= subscribers %> total number of subscribers</p>
  <hr />
  <% for(let post of posts){ %>
  <p><%= post.title %>- <b><%= post.author %> </b></p>
  <% if(post.img){ %>
  <div><img src="<%= post.img %> " alt="" /></div>
  <% } %> <% } %>
</div>
<%- include('partials/footer.ejs') %>
